body,
html {
  height: 100%;
}
body {
  background-color: #25287a;
}
* {
  padding: 0;
  margin: 0;
}
#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.todo-list {
  background-color: #fff;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 20px;
  border-radius: 20px;
}
.box {
  background-color: darkgrey;
  padding: 6px 7px;
  margin: 5px 5px 5px 0px;
  display: inline-block;
  color: white;
  font-weight: bold;
}
.box.active {
  background-color: #25287a;
  border-radius: 10px;
}
input {
  outline: none;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid;
  padding: 10px 5px;
}
li {
  list-style: none;
  padding: 10px 5px;
  border-bottom: 1px solid black;
}
.done {
  text-decoration: line-through #8c8c8c;
  color: #8c8c8c;
}
.doneBtn {
  color: #74d574;
  margin-right: 5px;
}
.content {
  position: relative;
}
.delBtn {
  position: absolute;
  right: 0;
  opacity: 0;
}
.content:hover .delBtn {
  opacity: 1;
}
